@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Remove spinner arrows for number inputs */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
  }

  /* Firefox specific styling for number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
  body {
    @apply bg-slate-900 font-poppins tracking-wide text-slate-300;
  }
  a {
    @apply text-blue-600 visited:text-purple-600;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
  h1,
  h2,
  h3,
  p {
    @apply tracking-wide;
  }
}
